html {
  background-image: url('../images/beach.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.information {
  height:460px;
  color: whitesmoke;
  width:100%;
  border-radius: 15px;
  background-color:rgba(46, 45, 45, 0.2);
  padding: 2% 4%;
}

.information > div {
  margin: auto auto;
}
.information .right {
  min-width: 300px;
  font-size:18px;
  margin:0;
}
.information .left {
  background-size: contain;
  background-repeat: no-repeat;
}
#groupImg {
  width: 400px;
  height: 400px;
}

#social  paper-icon-button {
  border-radius:5px;
  margin:5px 10px;
}
paper-icon-button /deep/ iron-icon div {
  background-repeat: no-repeat;
}
#social .facebook {
  background-color:#3B5998;
}
#social .twitter {
  background-color: #5DD7FC; 
}
#social .github {
  background-color: #fff;
  border-radius: 100%;
}
#social .googleplus {
  background-color: #DC4A38;
}
