html {
  background-image: url('../images/landingimage.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#about {
  color: whitesmoke;
  margin:auto;
  margin-top:10%;  
  border-radius: 15px;
  background-color:rgba(46, 45, 45, 0.2);
  min-height: 300px;
  max-width: 1024px;
}
.information {
  padding:15px;
}

#social{
  padding:1% 3%;
}
#social  paper-icon-button {
  border-radius:5px;
  margin:5px 10px;
}
paper-icon-button /deep/ iron-icon div {
  background-repeat: no-repeat;
}
#social .facebook {
  background-color:#3B5998;
}
#social .twitter {
  background-color: #5DD7FC; 
}
#social .github {
  background-color: #fff;
  border-radius: 100%;
}
#social .googleplus {
  background-color: #DC4A38;
}
