html
{
    background-image: url('../images/beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#landing
{
    padding-top: 7%;
}
#landing  #section1
{
    z-index: 0;

    height: 100%;
}
#landing > .content
{
    padding: 10px 50px 20px 50px;
}
#landing  .slogan
{
    font-size: 22px;

    display: inline-block;

    width: 400px;
    min-width: 300px;

    text-align: center;
}
#landing .content h1
{
    font-size: 45px;

    text-align: center;
}

#landing .content paper-button
{
    font-size: 16px;

    background-color: #b71c1c;
}
.contacto
{
    padding: 15px 45px 10px;

    resize: both;

    color: black;
    background-color: #eee;
}
a
{
    text-decoration: none;

    color: inherit;
}
a:visited
{
    color: inherit;
}
