
body,html {
  height: 100%;
  margin:0;
  color:whitesmoke;
  font-family: 'Lora';
    /* Opcion 2*/
/*  background: rgba(188, 100, 55, 0.44);*/
  background-color: rgba(135, 139, 237, 0.18);
}
html {
  /* Opcion 1 */
  background-image: url('../images/background.jpg');
  /* Opcion 2*/
  /*
  background: rgba(188, 100, 55, 0.44);
  background-image: url('http://wallpaperciv.com/wp-content/uploads/2014/06/Social-Media-Wallpaper-Free-Download.jpg');*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

core-toolbar {
  background-color: transparent;
  padding: 2% 10%;
  color:antiquewhite;
}
.logo {
  height: 120%;
}
paper-button {
  font-size: 0.8em;
}
.search{
  border-radius: 100%;
  width:38px;
  height:38px;
  background-color: #B71C1C;
}
.content {
  margin: 5% 15% 0% 15%;
  padding: 1% 5% 2% 5%;
  font-size: 1.2em;
  border-radius: 5%;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.7) 0%,rgba(135, 139, 237, 0.0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.15) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body[oscuro=true] {
  background-color:black;
  opacity: 0.7;
}
.signin-status {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:  -12%;
  margin-left: -%;
  background-color:aqua;
  height: 40%;
  width: 40%;
}
.popup {
  display: inline-block;
  position:absolute;
  top:0;
  left:0;
  width:40%;
  border-radius:15px;
  height:40%;
  padding:2%;
  padding-top:0%;
  margin-top:15%;
  margin-left:30%;
  color:brown;
  background-color:whitesmoke;
  background:solid;
  height: 300px;
  width: 400px;
}
.shadow {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}
.button-login {
  margin-top: 15px;
}