@font-face {
	font-family: archistico;
	src: url('../fonts/ArchisticoBold.ttf');
}

@font-face {
	font-family: fortune;
	src: url(../fonts/FortuneCity.ttf);
}
#view {
	position:relative;
}
#view > div {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

/* MAIN PAGE */

body {
	background-image: url('../images/landingpage.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: black;
	background-color:(0,0,0,0.7);
  height: auto;
}
paper-toolbar.header {
	background-color: transparent;
}
paper-toolbar.header paper-icon-button.logo {
	margin-right: 5px;
	padding:0px !important;
}
paper-toolbar.header .title {
	color:white;
	font-size: 40px !important;
	line-height: 50px !important;
	font-family: fortune;
	letter-spacing: 3px;
	text-transform: capitalize;
	cursor: pointer;
}
.dropdown {
	padding: 0px;
}
.dropdown-menu {
	min-width: inherit;
	width: 100%;
}
.dropdown-menu li {
	text-align: center;
}
.dropdown-menu li a {
	padding: 3px 5px;
}
.user-button .dropdown-toggle{
	max-width: 150px;
	min-width: 100px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background-color:transparent;
	color:white;
	text-shadow: none;
	font-weight: bold;
	text-transform: uppercase;
	border:0px;
	box-shadow: none;
}
paper-toolbar.footer {
	background-color: transparent;
}

.log-button {
  margin:auto 15px;
}
#login-popup .modal-content {
margin-top:60%;
}
#landing-page{
	padding-top:10%;
}
#landing-page h1,
#landing-page h3 {
	color:#eee;
	max-width: 500px;
	text-align: center;
}
#landing-page paper-button{
	margin-top:50px;
}
/* USERHOME */