@font-face {
  font-family: myFont;
  src: url(../font/font.ttf);
}

body,html {
  margin:0;
  color:rgba(255, 255, 255, 0.85);
  font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  background-attachment: fixed;
  min-width: 1024px;
  min-height: 100%;
}

.view {
  margin:0px 150px;
  margin-bottom: 50px;
}

core-toolbar {
  position: fixed;
  width: 100%;
  top:0;
  background-color: rgba(0,0,0,0.5);
  padding: 15px 150px;
  height: 100px;
  min-width: 600px;
  color:whitesmoke;
}
@media (max-width: 1200px) {

  core-toolbar {
    padding: 15px 30px; 
  }
}
.logo {
  height: 50px;
  cursor: pointer;
}
h2 {
  font-size: 120%; 
}
paper-button {
  font-size: 70%;
}
.search{
  border-radius: 100%;
  width:38px;
  height:38px;
  background-color: #B71C1C;
}
.popup {
  position:fixed;
  top:0;
  left:0;
  border-radius: 3px;
  right:0;
  bottom:0;
  padding:30px;
  padding-top:0;
  margin: auto;
  color:brown;
  background-color:whitesmoke;
  height: 250px;
  width: 300px;
  z-index: 1;
  text-align: center;
}
#popup > div {
  margin-top: 30px; 
}
.shadow {
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}
.button-login twitter-login,
.button-login login-facebook {
  margin-top: 25px;
}
#name {
  letter-spacing: 10px;
  font-size: 45px; 
  font-family: myFont, serif;
}
#name:hover{
  cursor: pointer;
}
footer {
  position:fixed;
  bottom:0;
  padding:7px;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  z-index: 1;
}
core-dropdown-menu {
  background-color: inherit;
  font-size: 16px;
  width: 100px;
}
core-dropdown-menu /deep/ core-dropdown {
  color:white;
  background-color:rgb(0,0,0);
  width: 100px;
}
core-dropdown-menu /deep/ core-dropdown /deep/ core-menu {
  margin:0;
}
core-dropdown-menu /deep/ core-dropdown /deep/ core-item.first {
  margin: -8px auto;
  border-bottom: 1px solid white;
}
core-dropdown-menu /deep/ core-dropdown /deep/ core-item.first:hover {
  background-color:inherit;
}
core-dropdown-menu /deep/ core-dropdown /deep/ core-item:hover{
  background-color: #B71C1C;
}
