
body,html {
  height: 100%;
  margin:0;
  color:whitesmoke;
  font-family: 'Lora';
  /* Opcion 2*/
  /*  background: rgba(188, 100, 55, 0.44);*/
}
.view {
  margin:0 10%;
}
core-toolbar {
  background-color: transparent;
  padding: 2% 10%;
  color:antiquewhite;

}
.logo {
  height: 120%;
}
paper-button {
  font-size: 0.8em;
}
.search{
  border-radius: 100%;
  width:38px;
  height:38px;
  background-color: #B71C1C;
}

