html {
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.content {
	color: black;
	margin-top: 150px;
	height: 100%;
	width:100;
}

/*Texto a introducir*/
.formulario{
	color: black;
}

/*Transicion texto*/
.formulario /deep/ #labelText {
	color: whitesmoke;
}

/*Color letra*/
.formulario /deep/ ::-webkit-input-placeholder {
	color: whitesmoke;
}

.formulario /deep/ ::-moz-input-placeholder {
	color: yellow;
}

.formulario /deep/ ::-ms-input-placeholder {
	color: yellow;
}

/*Texto despues transicion*/
.formulario /deep/ .floated-label #floatedLabelText{
	color: whitesmoke;
}

.formulario /deep/ #underline .unfocused-underline{
	background-color: black;
}

.formulario /deep/ #underline .focused-underline{
	background-color: black;
}

#dcha{
	margin-left: 75px;
}

#izq{
	margin-right: 75px;
}
