html {
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#titulo{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0px;
}

#titulo2{
	text-align: center;
	margin-bottom: 40px;
	text-decoration: underline;
}

.content {
	color: black;
	margin-top: 150px;
	height: 100%;
	width:100;
}

#fondo{
	background-color: rgba(245, 245, 245, 0.5);
	border-radius: 5px;
	padding: 15px 30px;
	max-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#fondo2{
	background-color: rgba(245, 245, 245, 0.5);
	border-radius: 5px;
	padding: 15px 30px;
	max-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button-login{
	margin: 10px;
}

/*Texto a introducir*/
.formulario{
	color: whitesmoke;
	font-size: 20px;
}

/*Transicion texto*/
.formulario /deep/ #labelText {
	color: black;
}

/*Color letra*/
.formulario /deep/ ::-webkit-input-placeholder {
	color: black;
}

.formulario /deep/ ::-moz-input-placeholder {
	color: yellow;
}

.formulario /deep/ ::-ms-input-placeholder {
	color: yellow;
}

/*Texto despues transicion*/
.formulario /deep/ .floated-label #floatedLabelText{
	color: whitesmoke;
}

.formulario /deep/ #underline .unfocused-underline{
	background-color: black;
}

.formulario /deep/ #underline .focused-underline{
	background-color: black;
}
