
html {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;

}
#todo{
  
  background: rgba(0, 0, 0, 0.51);
 
  margin-top: 15%;
  
}
.content {
  margin-top: 7%;
  padding: 1% 5% 2% 5%;
  font-size: 1.2em;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#26000000',GradientType=1 );

}
#email {

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 25px;
  width: 56%;
  background: #fff;
  color: #000;
}
.nom{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 25px;
  width: 27.2%;
  background: #fff;
  color: #000;
}
input{

  margin-bottom: 10px;

}
.spans{

  color:#fff;
  margin: 0px;
}

select{

    width: 18.3%;
	background: rgba(243, 243, 243, 0);
	color: #0d0d0d;
	padding: 5px;
	font-size: 13px;
	line-height: 100%;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 0;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 3px;
    background-color: transparent;

}
section{
  
      margin-left: 8%;
    margin-right: 8%;
}
#pr{
  margin-left: 25%;
  margin-right: 25%;
  position: relative;

}
/*
#contenedor{
  margin-left: 35%
}
*/

}
#oculto{

  display: none;
}

#redes{	
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-top: 5px;
  background: rgba(253, 244, 244, 0.54);	
  width: 100%;
  height: 30%;
  min-width: 200px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px 10px 10px 10px;	
  border: 2px solid black;
  color: #000;
}


#redes:hover{
  transform:scale(1.02,1.02);
  -webkit-transform:scale(1.02,1.02);

}


core-item{
  margin-top: 5px;

}
core-submenu::shadow #submenu {
  margin-left: 7px;
}

core-submenu::shadow #submenuItem::shadow #label {
  margin: 0 auto;
}



#label{

  margin-left: 25%;

}
/*Ajuste tamaño botones*/
login-facebook{min-width: 100%;}
google-login{min-width: 100%;}
twitter-login{min-width: 100%;}
github-login{min-width: 100%;}
linkedin-login{min-width: 100%;}
instagram-login{min-width: 100%;}
/*Ajuste textos botones*/
google-login::shadow #button{ 

  font-size: 17px;
}
login-facebook::shadow .login{ 

  font-size: 17px;
}
twitter-login::shadow #TwitterButton{ 

  font-size: 17px;
}
github-login::shadow #loginGithub{ 

  font-size: 17px;
}
linkedin-login::shadow #LinkedinButton{ 

  font-size: 17px;
}
instagram-login::shadow #InstagramButton{ 

  font-size: 17px;
}



input[type=submit] {
  padding:5px 15px; background:#ccc; border:0 none;
  cursor:pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.91); 
  margin-left: 21%;
  border: 1px solid while;
}

input[type=submit]:hover{

  transform:scale(1.02,1.02);
  -webkit-transform:scale(1.02,1.02);

}

strong{
  font-size: 100%;
  color:white;

}
.SelectStyle {
  width: 220px;
  position: relative;
}




#sexo{

	width: 57%;
	background:  rgba(243, 243, 243, 0);
	color: #0d0d0d;
	padding: 5px;
	font-size: 13px;
	line-height: 100%;
	border: 1px solid #fff;
	border-radius: 0;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 3px;
}
 
option {
	padding: 10px;
   
    background-color: transparent;

}
input:hover{

  transform:scale(1.03,1.03);
  -webkit-transform:scale(1.03,1.03);

}
select:hover{
  transform:scale(1.03,1.03);
  -webkit-transform:scale(1.03,1.03);

}

textarea:hover{
  transform:scale(1.03,1.03);
  -webkit-transform:scale(1.03,1.03);

}

span{
  
  color: #393939;
}

/////////////////////////////////////////////////////////////////////////////////////////



  

    section {
      padding: 20px 0;
    }

    section > div {
      padding: 14px;
      font-size: 16px;
    }

   
      paper-input-decorator {
        max-width: 55%;
        
      }

      

paper-input-decorator /deep/ .error {
   
    color: #212121;
}



    
paper-input-decorator /deep/ ::-webkit-input-placeholder {
    
    color: rgb(255, 255, 255);
}


paper-input-decorator /deep/ .unfocused-underline {
   
    background-color: green;
}

paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text,
paper-input-decorator[focused] /deep/ .error {
    
    color: #cb1919;
}

paper-input-decorator.invalid /deep/ .focused-underline {
  
    background-color: #b90a0a;
}
      
      
      
      
    .constrained-height {
      height: 150px;
    }

    .colored {
      color: #0f9d58;
    }

  
    .dropdown.colored::shadow #ripple,
    .dropdown.colored::shadow #background {
      border: 1px solid #0f9d58;
      background-color: #b7e1cd;
    }
      
   paper-dropdown-menu::shadow #label{
     
     
     color: #fff;
   }
  
   paper-dropdown-menu::shadow #arrow{
     
     
     color: #fff;
   }
  
  core-dropdown{
   border-bottom: 1px solid #FFFFFF;
   height: 132px;
    padding-right: 20px;
  
  }      
   
google-login.disconnect::shadow #button{
  
  background: #393333;
}
 .login {
     -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: rgba(244, 244, 244, 0.62);
  color: white;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  vertical-align: center;
  width: 30%;
  margin-left: 40%;
  color:black;
   
}

.login:hover{
  transform:scale(1.02,1.02);
  -webkit-transform:scale(1.02,1.02);

}
paper-input-decorator{
  
  max-width: 100%;
  
}
//////////////////////////////////////////////////////////////////////////////////////////////
