#lista {
	text-align: center;	
}
.name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
hr {
  margin: auto 50px auto 50px;

}
.author{
  color: #999;
  font-size: 14px;
}
paper-tab[active]{
  background-color: #1E88E5;
  border-radius: 5px;
}
paper-tab:hover {
	cursor: pointer;	
}
paper-tab::shadow #ink {
  color: #4FC3F7;
}
.elementosLista{
  border-radius: 12px;
  background-color: #FAFAFA;
  padding-top: 3px;
}