#selectId {
  color:white;
  padding-top:50px;
  
}

#selectId  iron-icon[icon="label"] {
  color:burlywood;
  margin-bottom: 9px;
}

#selectId #gif {
  margin-left: 35px;
  width: 75px;
  height: 75px;
}

#selectId .title {
  margin-left: 10px;
  font-size: 25px;
}

#selectId paper-input {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 22px;
  width: 500px;
  color: firebrick;
}

#sendUsernameButton {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}