#userHome.footer{
	display:none !important;
}
#userHome {
	padding:0px 10px 10px 0px;
}

#userHome .left-bar {
	position:absolute;
	top:23%;
	bottom:0;
	right: 0;
	z-index:10000;
}
#userHome .nav-buttons {
	float: right;
	border:2px  solid #2e6da4;
	border-radius: 7px;
}
#userHome .nav-buttons .btn {
	display: inline-block;
	line-height: 45px;
	font-size: 18px;
	border-radius: 0px;
}
#userHome .nav-buttons .btn.active {
	color: #fff;
	background-color: #163d5f;
	border-color: #204d74;
}
#userHome .nav-buttons .btn:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#userHome .nav-buttons .btn:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#userHome .component-list {
	width: 150px;
	float:left;
	border-radius: 7px;
	display:none;
	border: 2px solid;
	padding: 8px 5px;
	background-color: #286090;
	border-color: #204d74;
	text-align: center;

}
#userHome .component-list.active {
	display: inline-block;
}
#userHome .add-item {
	width: 100%;
	min-height: 30px;
	margin:auto;
	line-height: 28px;
	cursor:pointer;
}
#userHome .add-item:hover {
	background-color:rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	color:black;
}
#userHome .elementbox-div {
	height: 20px;
	text-align: right;
}
#userHome .elementbox:hover .elementbox-remove{
	display: inline-block;
}
#userHome .elementbox-remove {
	color:red;
	font-size:16px;
	text-align: right;
	display:none;
}

.context-menu-list {
	background-color:#fefefe !important;
	border-radius: 5px !important;
}
.context-menu-item {
	height: 25px !important;
	background-color:#fefefe !important;
	font-size: 14px;
	line-height: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.context-menu-item:hover{
	background-color:#888 !important;
	color:white;
}