div#userProfile {
	position: absolute;
	min-width: 100%;
	height: 565px;
  max-height: 565px;
  min-height: 565px;
}

#userProfile > div {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border-radius: 6px;
	background-clip: padding-box;
}
#userProfile .tabs {
	width: 200px;
	margin:0px 15px;
	min-height: 400px;
}

#userProfile .tabs > .header {
	background-color: #F7F7F7;
	text-align: center;
	border-radius: 6px;
}
#userProfile .tabs > div {
	padding: 10px 8px 3px 8px;
	border-bottom: 1px solid #eee;
}
#userProfile .modal-footer {
  padding: 5px 15px;
}
#userProfile .tabs > div.active {
	border-left: 3px solid orange;
}

#userProfile .tabs > div a{
	cursor:pointer;
}


#userProfile .information {
	min-height: 400px;
	width: 40%;
	position: relative;
}
#userProfile .information > div  {
	display: none;
}

#userProfile .information > div.active {
	display: inline-block;
}
#userProfile .information span.glyphicon-remove {
	position: absolute;
	right: 10px;
	line-height: 33px;
}
#userProfile .information span.glyphicon-remove:hover {
	color:firebrick;
	cursor: pointer;
}
#userProfile #userInformation .header,
#userProfile #socialNetwork .header{
	background-color: #F7F7F7;
	border-radius: 6px;
	padding:8px 10px;
	border-bottom:1px solid #eee;
}
#userProfile #userInformation .content{
	padding: 10px 40px;
}
#userProfile #userInformation .user-picture {
	width: 50;
	height: 50px;
	min-height: 50px;
	min-width: 50px;
	margin-right:10px;
	border-radius: 5px;

}
#userProfile #userInformation .form-control {
	width: 50%;
}

#userProfile #userInformation label[for="name"] {
	display: block;
}
#userProfile #userInformation #name.form-control ,
#userProfile #userInformation #surname.form-control {
	width: 30%;
	display: inline-block;
}

#userProfile #socialNetwork {
	height: 100%;
}
#userProfile #socialNetwork .content{
	padding: 20px 40px;
}
#userProfile #socialNetwork .loginSection {
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding:5px;
	position: relative;
	text-align: right;
}
#userProfile #socialNetwork .logged:after {
	content: '\2713';
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	color:limegreen;
	line-height: 35px;
	font-size: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#userProfile #socialNetwork .loginSection > p {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}


.btn-file {
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	cursor: inherit;
	display: block;
}
#userProfile [data-role="login"][sort] {
	margin-left:10px;
}
#userProfile [data-role="login"][sort] /deep/ paper-button {
	margin:0px;
}
