<link rel="stylesheet" href="styles/about.css">
<div  horizontal center-justified layout class="information">
  <div flex two class="left">
  </div>
  <div flex one vertical center-justified layout class="right">
    <div>{{language.about_first}}</div>
    <br>
    <div  flex>{{language.about_second}}</div>
    <div horizontal center-justified layout id="social">
      <a href="https://twitter.com/DeusConwet" target="_blank"><core-icon-button class="twitter" src="images/icon-twitter.png"></core-icon-button></a>
      <a href="https://www.facebook.com/deus.conwet.3" target="_blank"><core-icon-button class="facebook" src="../images/login-facebook.png"></core-icon-button></a>
      <a href="https://github.com/polymer-spain/DeusCoNWeT" target="_blank"><core-icon-button class="github" src="images/icon-github.png"></core-icon-button></a>
      <a href="https://plus.google.com/b/101568720042222642034/101568720042222642034/about" target="_blank"><core-icon-button class="googleplus" src="images/icon-googleplus.png"></core-icon-button></a>
    </div>
  </div>  
</div>
