<link rel="stylesheet" href="styles/about.css">
<div  horizontal layout class="information">
  <div flex two class="left">
  </div>
  <div flex one vertical center-justified layout class="right">
    <div>
      DEUS es un grupo de trabajo centrado principalmente en tecnologías de Google, especialmente aquellas más innovadoras: lenguaje de programación Go!, componentes web Polymer, GoogleCloud (CloudSQL y Cloud Datastore), AppEngine o Google Analytics.
    </div>
    
    <div style="margin-top:15px"flex>
      Nació como una plataforma para formar a estudiantes en tecnologías punteras, abordar proyectos de investigación y, al mismo tiempo, proporcionales una toma de contacto con la forma de trabajo a nivel profesional. Cuenta actualmente con varios estudiantes de TFG y Prácticum, distribuidos en varias líneas de trabajo.
    </div>
    <div horizontal center-justified layout id="social">
      <a href="https://twitter.com/DeusConwet" target="_blank"><core-icon-button class="twitter" src="images/icon-twitter.png"></core-icon-button></a>
      <a href="https://www.facebook.com/deus.conwet.3" target="_blank"><core-icon-button class="facebook" src="images/icon-Facebook.svg"></core-icon-button></a>
      <a href="https://github.com/polymer-spain/DeusCoNWeT" target="_blank"><core-icon-button class="github" src="images/icon-github.png"></core-icon-button></a>
      <a href="https://plus.google.com/b/101568720042222642034/101568720042222642034/about" target="_blank"><core-icon-button class="googleplus" src="images/icon-googleplus.png"></core-icon-button></a>
    </div>
  </div>  
</div>