<link rel="stylesheet" href="styles/about.css">
<div  horizontal layout class="information">
  <div flex two style="height:600px"></div>
  <div flex one>
    <span>
      DEUS es un grupo de trabajo centrado principalmente en tecnologías de Google, especialmente aquellas más innovadoras: lenguaje de programación Go!, componentes web Polymer, GoogleCloud (CloudSQL y Cloud Datastore), AppEngine o Google Analytics.</span>
    </br>
    </br>
  <span>
    Nació como una plataforma para formar a estudiantes en tecnologías punteras, abordar proyectos de investigación y, al mismo tiempo, proporcionales una toma de contacto con la forma de trabajo a nivel profesional. Cuenta actualmente con varios estudiantes de TFG y Prácticum, distribuidos en varias líneas de trabajo.
  </span>
</div>  
</div>