<link rel="stylesheet" href="styles/formulario.css">
<section class="formulario">
  <form>
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" required="" />
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="ejemplo@correo.com" required="" />
    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea>
    <input id="submit" type="submit" name="submit" value="Enviar" ng-click="mailTo()"/>
  </form>
</section>
