<link rel="stylesheet" href="styles/home.css">

<div horizontal center-justified layout id="views">
	<div vertical center layout style="background:inherit" ng-init="init">
		<span class="welcome">Bienvenido a Polymer Bricks</span><br/>
		<span>Adéntrate en la comunidad de los componentes web</span><br/>

		<paper-button class="g-sub">
			<core-icon src="http://2.bp.blogspot.com/-k4UX8rSagsM/UcGd3sGQSbI/AAAAAAAAAa0/kDbogGEMc0U/s1600/google-plus.png" ></core-icon>&shy; Suscríbete
		</paper-button>
	</div>
</div>
