<link rel="stylesheet" href="styles/profile.css" />

<div class="content">
	<h1 style="text-align: center">Perfil</h1>
	<div horizontal layout justified style="margin-top:100px">
		<div id="form">
			<paper-input-decorator label="Nombre" floatinglabel class="formulario">
				<input is="core-input" class="nom" type="text">
			</paper-input-decorator>
			<paper-input-decorator label="Apellidos" floatinglabel class="formulario">
				<input is="core-input" class="nom" type="text">
			</paper-input-decorator>
			<paper-input-decorator label="Email" floatinglabel class="formulario">
				<input is="core-input" class="nom" type="text">
			</paper-input-decorator>
		</div>
		<div id ="redes" horizontal layout justified>
			<div id="izq">
				<core-item label="" id="facebookitem"><login-facebook  id ="facebook" class="button-login" key_app="928341650551653" scope="public_profile,email"></login-facebook></core-item>
				<br>
				<core-item label="" id="googleitem"><google-login id="google" class="button-login" clientID="37385538925-jv2d25auk59lisafr1gu83r04d9cuivt.apps.googleusercontent.com" scope="https://www.googleapis.com/auth/userinfo.profile" callback="{{domain}}"></google-login></core-item>
				<br>
				<core-item label=""id="twitteritem"><twitter-login class="button-login" id="twitter" endpoint='{{domain}}/api/oauth/twitter' sort=true></twitter-login></core-item>
			</div>
			<div id="dcha">
				<core-item label=""id="githubitem"><github-login id ="github" scope="user:email" client_id="dc994a092e5f28ad0ffa" endpoint={{domain}}></github-login></core-item>
				<br>
				<core-item label=""id="linkedinitem"> <linkedin-login id ="linkedin" apiKey="775t0r02k5gfre"></linkedin-login></core-item>
				<br>
				<core-item label=""id="instagramitem"> <instagram-login id ="instagram" clientId="34af286560fc492cbabc62285f098047" redirectUri="https://test-frontend2-dot-example-project-13.appspot.com"></instagram-login></core-item>
			</div>
		</div>
	</div>
	<!--	<div horizontal layout center-justified>
<a href="{{domain}}">
<paper-button id="but" ng-click="calC()" class="login">
<core-icon icon="save"></core-icon>
Guardar
</paper-button>
</a>
</div>-->
</div>
