<link rel="stylesheet" href="styles/repositorio.css">



<div ng-controller="ComponentCtrl" id="views"  ng-init="init()" class="main">

  <div horizontal center-justified layout>
    <div flex two>
      <div class="info">
        <p>Nombre</p>
        <span class="contenido">{{component.name}}</span>
        <hr/>
        <p>Autor</p>
        <span class="contenido">{{component.author}}</span>
        <hr/>
        <p>Valoración Media</p>
        <star-rate class="stars" value="{{component.starRate}}" readOnly></star-rate>
        <hr/>
        <i class="fa fa-star"></i>
        <span class="contenido">&nbsp;{{component.nStars}}&emsp;</span>
        <i class="fa fa-code-fork"></i>
        <span class="contenido">&nbsp;{{component.nForks}}</span><br/>
        <hr/>
        <p>Descripción</p>
        <span class="description">{{component.description}}</span>
        <hr/>
        <p>Tu valoración</p>
        <star-rate class="stars" value="{{component.userRating}}" ng-click="valorar()" id="rate"></star-rate><br/>
        <span class="animate-show" ng-show="mostrarValorado">Ha valorado con un {{valorado}}.</span>
      </div>
    </div>
  </div>
</div>

<paper-toast id="toast" number="4000" text="No estas logueado">
  
</paper-toast>