<div class="userFormContainer">
      <paper-material elevation="2" class="userForm" id="initialQuestionaire" hidden>
        <form is="iron-form">
          <paper-radio-group id="initialQuestion">
            <p class="questionText"> How do you define the component?</p>
            <paper-radio-button name="1"> 1. So bad </paper-radio-button><br>
            <paper-radio-button name="2"> 2. Bad </paper-radio-button><br>
            <paper-radio-button name="3"> 3. At the average </paper-radio-button><br>
            <paper-radio-button name="4"> 4. Good </paper-radio-button><br>
            <paper-radio-button name="5"> 5. So good </paper-radio-button><br>
            <paper-button raised class="submitButton" ng-click="_submitRating($event)">Enviar</paper-button>
          </paper-radio-group>
        </form>
      </paper-material>

      

      <!-- Confirmation to take an aditional questionaire about the component-->
      <paper-material elevation="2" id="continueMenu" class="userForm" hidden>
        <paper-radio-group>
          <p> Would you help us fulfilling a survey about the components you have used?</p>
          <paper-button raised id="yesButton" ng-click="_action('yes')"> Yes </paper-button>
          <paper-button raised id="noButton" ng-click="_action('no')"> No </paper-button>
        </paper-radio-group>
      </paper-material>

      <!-- Aditional questionaire -->
      <!-- NOTA: Para cambiar/añadir preguntas, seguir los siguientes pasos/consideraciones:
          - Añadir un form (dentro del aditionalForm), con un paper-radio-group, con el id que identificará a la pregunta (se utilizará como el nombre de evento que se envía a Mixpanel).
          - El p dentro del paper-radio-group, la pregunta que se le muestra al usuario, se manda también tal cual a Mixpanel (p tiene que ser de la clase questionText).
          - La pregunta obligatoria de momento está orientada a la plataforma.
          - De momento las respuestas tienen todas la misma ponderación (1. completamente en desacuerdo, 5. Completamente de acuerdo). Si se quiere cambiar esta escala en alguna pregunta, sería necesario cambiar los name="..." de todos los formularios, para que enviasen también la respuesta completa y no sólo el número.
      -->
      <paper-material id="aditionalForm" elevation="2" class="userForm" hidden>
        <form is="iron-form" >
          <p> Componente Random </p>
          <paper-radio-group id="question2" class="aditionalQuestion" >
            <p class="questionText"> The component is difficult to be used </p>
            <paper-radio-button name="1"> 1. Strongly disagree </paper-radio-button><br>
            <paper-radio-button name="2"> 2. Disagree </paper-radio-button><br>
            <paper-radio-button name="3"> 3. Neither agree nor disagree </paper-radio-button><br>
            <paper-radio-button name="4"> 4. Agree </paper-radio-button><br>
            <paper-radio-button name="5"> 5. Strongly agree </paper-radio-button><br>
          </paper-radio-group>
        </form>

        <form is="iron-form">
          <paper-radio-group id="question3" class="aditionalQuestion">
            <p class="questionText"> The component design is pleasant </p>
            <paper-radio-button name="1"> 1. Strongly disagree </paper-radio-button><br>
            <paper-radio-button name="2"> 2. Disagree </paper-radio-button><br>
            <paper-radio-button name="3"> 3. Neither agree nor disagree </paper-radio-button><br>
            <paper-radio-button name="4"> 4. Agree </paper-radio-button><br>
            <paper-radio-button name="5"> 5. Strongly agree </paper-radio-button><br>
          </paper-radio-group>
        </form>

        <form is="iron-form">
          <paper-radio-group id="question4" class="aditionalQuestion">
            <p class="questionText"> The component information is shown concise and clearly</p>     
            <paper-radio-button name="1"> 1. Strongly disagree </paper-radio-button><br>
            <paper-radio-button name="2"> 2. Disagree </paper-radio-button><br>
            <paper-radio-button name="3"> 3. Neither agree nor disagree </paper-radio-button><br>
            <paper-radio-button name="4"> 4. Agree </paper-radio-button><br>
            <paper-radio-button name="5"> 5. Strongly agree </paper-radio-button><br>
          </paper-radio-group>
        </form>

        <!-- Confirmation to take an aditional questionaire about the component-->
        <form is="iron-form">
          <paper-radio-group id="question5" class="aditionalQuestion">
            <p class="questionText"> Would you share this component?</p>
            <paper-radio-button name="Si"> Yes </paper-radio-button>
            <paper-radio-button name="No"> No </paper-radio-button>
          </paper-radio-group>
        </form>

        <form is="iron-form">
          <paper-radio-group id="question6" class="aditionalQuestion">
            <p class="questionText"> Would you recommend this component?</p>
            <paper-radio-button name="Si"> Yes </paper-radio-button>
            <paper-radio-button name="No"> No </paper-radio-button>
          </paper-radio-group>
        </form>

      <paper-button raised class="submitButton" ng-click="_submitExtendedQuestionaire()">Enviar</paper-button>

    </paper-material>

    <paper-material elevation="2" class="userForm" id="ThanksDialog" hidden>
      <p> El cuestionario ha terminado. Gracias por tu tiempo. </p>
      <paper-button raised id="yesButton" ng-click="_hideEndDialog()"> Ok </paper-button>
    </paper-material>

  </div>