<link rel="stylesheet" href="styles/home.css">
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Gracias por subir su componente!</h3>
  </div>
      <div class="modal-body">
        <p></p>
        <p>Su componente se ha subido con éxito.</p>
        <p>Ya puede ser usado por el resto de la comunidad.</p>
        <p>También puede valorar el componente si lo desea.</p>

  </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="myModalContentError.html">
    <div class="modal-header">
      <h3 class="modal-title">No pudimos subir su componente.</h3>
  </div>
      <div class="modal-body">
          <p>Algo fue mal al intentar subir su componente.</p>
          <p>Compruebe que la direccion sea correcta.</p>
  </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="myModalContentRepetido.html">
    <div class="modal-header">
      <h3 class="modal-title">No pudimos subir su componente.</h3>
  </div>
      <div class="modal-body">
          <p>El componente que intenta subir ya se encuentra en el repositorio.</p>
          <p>Realice una busqueda del componente para acceder a su información.</p>
  </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>

<div style="text-align:center" id="views">
  <span class="welcome">¡BIENVENIDO A POLYMER-BRICKS!<br/>
  </span>
  <span class="explicacion"> Una herramienta interactiva para probar tus componentes.</span>
</div>

<!--Division de la pantalla en dos-->
<div  layout horizontal class="divisor" ng-controller="HomeCtrl">
  <!-- Lado izquierdo-->
  <div flex one layout vertical ng-show="!mostrar" class="left">

    <!-- Subir el componente-->
    <span horizontal class="upComponentText">
      ¡Sube tu componente!</span>
    <section layout horizontal class="componente">

      <paper-input-decorator flex eight id="inputC" class ="componentInput" label="Introduce enlace Github" error="No es un url valida. Debe comenzar por: https://github.com">

        <input id="input" ng-modal="input" ng-keyup="pulso($event)" pattern="^https?://github.com/.*"></input>
      </paper-input-decorator>

    <paper-icon-button class="upload" self-center icon="cloud-upload" ng-click="open()">
    </paper-icon-button>

    </section>
  <br/>

  <!-- Sandbox-->
  <div flex vertical layout class="sandBox">
    <span> Demo de nuestra Sandbox</span><br/>
    <paper-shadow flex center-justified horizontal layout class="sandbox"animated=true z="3">
	
			<p>Proximamente!</p><br/>
			</paper-shadow>
  </div>
</div>

<!--Division de la pantalla en dos: lado derecho-->
<div flex one class="right">

  <paper-tabs nobar id="tabs" selected="name" self-end>


    <paper-tab  ng-click="changeList('name')" name="name">
      <span>NOMBRE</span>
      <core-icon icon="arrow-drop-down" ng-show="orderBy=='des' && sortBy=='name'"></core-icon>
      <core-icon icon="arrow-drop-up" ng-show="orderBy=='asc' && sortBy=='name'"></core-icon>
    </paper-tab>

    <paper-tab  ng-click="changeList('stars')" name="favorites">
      <span>MÁS POPULARES</span>
      <core-icon icon="arrow-drop-down" ng-show="orderBy=='des' && sortBy=='stars'"></core-icon>
      <core-icon icon="arrow-drop-up" ng-show="orderBy=='asc' && sortBy=='stars'"></core-icon>
    </paper-tab>
    <paper-tab  ng-click="changeList('popular')" name="rated">
      <span>MEJOR VALORADOS</span>
      <core-icon icon="arrow-drop-down" ng-show="orderBy=='des' && sortBy=='popular'"></core-icon>
      <core-icon icon="arrow-drop-up" ng-show="orderBy=='asc' && sortBy=='popular'"></core-icon>
    </paper-tab>

  </paper-tabs>
  <br/>



  <!-- main page content will go here -->

  <!-- lista de componentes-->
  <div id="lista" >
    <div ng-repeat="component in webComponents | filter:query | limitTo: 3 as results">
      <paper-shadow   class="elementosLista "ng-click="changeView('components/{{component.componentId}}')" ng-mouseover="changeZ($event,3)" ng-mouseout="changeZ($event,1)" animated=true>
        <span class="name">{{component.name}}</span>

        <div>
          <i class="fa fa-star"></i>
          <span>&nbsp;{{component.nStars}}&emsp;</span>
          <i class="fa fa-code-fork"></i>
          <span>&nbsp;{{component.nForks}}</span><br/>
        </div>

        <span class="author">{{component.author}}</span>
        <div horizontal center layout style="padding-top: 6px">
          <star-rate flex value="{{component.starRate}}" readOnly></star-rate>

        </div>
        <hr/>
        <p class="description">{{component.description}}</p>
      </paper-shadow>
    </div>
    <span ng-if="results.length==0">No results found...</span>
  </div>
</div>
</div>

