<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/logo.png" />
    <meta name="description" content="">
    <base href="/#">

    <title>PicBit</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,300" rel="stylesheet" type="text/css">

    <!-- Polymer -->
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="elements/elements.html">

    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/landingPage.css">
  </head>

  <body unresolved ng-app="picbit" ng-controller="MainController">

    <paper-toolbar id="header">
      <img class="logoPicbit" src="images/logo.png" ng-click="isLogged ? changeView('/user/{{user.name}}') :changeView('/')">
      <h2 class="flex" id="name" ng-click="isLogged ? changeView('/user/{{user.name}}') :changeView('/')">Picbit</h2>

      <!-- Languages --> 
      <paper-menu-button id="language" >
        <paper-button class="dropdown-trigger">
          <iron-icon icon="icons:language" class="searchIcon"></iron-icon>
          <span style="text-transform: none">{{languageSelected}}</span>
        </paper-button>
        <paper-menu class="dropdown-content" style="color:black">
          <paper-item ng-click="changelanguage('es', true)">{{language.lang.es}}</paper-item>
          <paper-item ng-click="changelanguage('en', true)">{{language.lang.en}}</paper-item>
        </paper-menu>
      </paper-menu-button>


      <!-- End Languages -->

      <!-- TODO cambiar ng-show a negado y el de abajo a true -->
      <div ng-show="!isLogged" ng-click="showPopup()" class="loginButton">
        <paper-icon-button  id="siginButton"  icon="social:person">
        </paper-icon-button>
        <span id="nameId" style="text-transform: none">{{language.login}}</span>
      </div>

      <div ng-show="isLogged" class="loginButton">
        <paper-menu-button id="userButton" >
          <paper-button class="dropdown-trigger">
            <iron-icon icon="social:person" class="searchIcon"></iron-icon>
            <span style="text-transform: none">{{user.user_id}}</span>
          </paper-button>
          <paper-menu class="dropdown-content" style="text-align: center">
            <paper-item class="paper-item" ng-click="goto('home')">{{language.profile}}</paper-item>
            <paper-item ng-click="goto('profile')" class="paper-item">{{language.settings}}</paper-item>
            <paper-item class="paper-item" ng-click="logout()">{{language.logout}}</paper-item>
          </paper-menu>
        </paper-menu-button>

      </div>
      
    </paper-toolbar>

    <footer class="horizontal center-justified layout">
      <paper-button ng-click="changeView('/about')">{{language.about}}</paper-button>
      <paper-button><a href="https://deusconwet.typeform.com/to/opLyCo">{{language.contact}}</a></paper-button>
      <paper-button ng-click="changeView('/privacy')">{{language.privacy}}</paper-button>
      <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </footer>
    <div ng-view="" id="view" class="view">

    </div>

    <!-- pop up social networks -->
    <div ng-show="shadow" class="shadow"></div>
    <div ng-show="popup" class="vertical center layout popup" id="popup">
      <paper-icon-button  ng-click="hidePopup()" icon="close"></paper-icon-button>
      <span>{{language.select_network}}</span>
      <div class="vertical center-justified layout button-login">
        <google-login class="button-login" clientID="37385538925-jv2d25auk59lisafr1gu83r04d9cuivt.apps.googleusercontent.com" scope="https://www.googleapis.com/auth/userinfo.profile" callback="{{domain}}" static="true"></google-login>
        <br>
        <twitter-login class="button-login" endpoint="{{domain}}/api/oauth/twitter" static></twitter-login>
        <br>
        <login-facebook class="button-login" key_app="928341650551653" scope="public_profile,email" static></login-facebook>

      </div>
    </div>

    <!-- build:js scripts/min/dependencies.min.js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/ng-polymer-elements/ng-polymer-elements.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/min/logic.min.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/landingPage.js"></script>
    <script src="scripts/controllers/userHome.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/privacy.js"></script>
    <script src="scripts/controllers/selectId.js"></script>
    <script src="scripts/directives/dragdrop.js"></script>
    <script src="scripts/directives/bindPolymer.js"></script>
    <script src="scripts/services/anchosmooth.js"></script>
    <script src="scripts/services/backend.js"></script>
    <script src="scripts/services/cookies.js"></script>
    <script src="scripts/services/requestLanguage.js"></script>
    <script src="scripts/filter/arrayFilter.js"></script>
    <!-- endbuild -->

  </body>
</html>
