<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <base href="/">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="elements/elements.html">
    <link rel="stylesheet" href="styles/main.css">

    <title>DeuS CoNWeT</title>
  </head>
  <body unresolved ng-app="PolymerBricks" ng-controller="MainCtrl" >
    <core-toolbar>
      <img class="logo" src="images/icono.png"/>

      <h2 flex>	DeuS CoNWeT</h2>
      <div style="border-right: 3px solid #B71C1C; padding-right: 10px">
        <paper-button ng-click="changeView('/')">Inicio</paper-button>
        <paper-button ng-click="changeView('/about')">Sobre nosotros</paper-button>
        <paper-button ng-click="changeView('/contact')">Contactar</paper-button>
      </div>

      <core-icon-button id="siginButton" ng-click="showPopup()" icon="social:person" class="signin">
        <span style="padding-left: 3px;vertical-align:middle" id="nameId">Entrar</span>
      </core-icon-button>
      <core-icon-button icon="search" class=" search"></core-icon-button>

    </core-toolbar>
    <div ng-view="" class="view">
    </div>
    <div ng-show="popup" class="shadow"/>
    <div ng-show="popup" vertical center layout class="popup">
      <core-icon-button style="position:absolute;right:0" ng-click="hidePopup()" icon="close"></core-icon-button>

      <span style="margin:7% 10%;font-size:1.4em">Selecciona tu red social</span>
      <div horizontal layout class="button-login">
        <google-login flex class="button"style="margin-right: 5px;" clientID="37385538925-jv2d25auk59lisafr1gu83r04d9cuivt.apps.googleusercontent.com" scope="https://www.googleapis.com/auth/userinfo.profile" callback="http://example-project-13.appspot.com/index.html"></google-login>
        <github-login flex class="button" scope="user:email" client_id="1f21e4d820abd2cb5a7a"></github-login>

      </div>
      <div horizontal layout class="button-login">

        <twitter-login flex class="button" style="margin-right: 5px;"></twitter-login>
        <instagram-login flex class="button" clientId="9e21b27d7f60498dae9a7f8853c20026" redirectUri="http://example-project-13.appspot.com/index.html"></instagram-login>
      </div>
      <div horizontal layout class="button-login">
        <linkedin-login  flex class="button" style="margin-right: 5px;" apiKey="775t0r02k5gfre"></linkedin-login>
        <login-facebook flex class="button" key_app="1797546760469675" scope="public_profile,email"></login-facebook>

      </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="bower_components/angular-cookies/angular-cookies.js"></script>

    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <script src="bower_components/angular-touch/angular-touch.js"></script>

    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="bower_components/ng-polymer-elements/ng-polymer-elements.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/landingPage.js"></script>
    <script src="scripts/controllers/userHome.js"></script>
    <script src="scripts/controllers/formulario.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contact.js"></script>
  </body>
</html>
